# Hidden files
*.DS_Store
*Thumbs.db
.htaccess

config/*
/data/*
/data/mysql/*

# WordPress Core
/*.php
*.txt
*.html
wp-admin/
wp-includes/

# WordPress Themes
wp-content/themes/twenty*
wp-content/themes/index.php
wp-content/index.php
wp-content/advanced-cache.php
wp-content/wp-cache-config.php

# WordPress Plugins
wp-content/plugins/

# WordPress Content
wp-content/backup*
wp-content/cache/
wp-content/languages/
wp-content/upgrade/
wp-content/uploads/
wp-content/debug.log